<h1>Nuevo Entrenamiento</h1>

<div class="row">
    <div class="col-md-8 mb-3">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0">Nuevo Entrenamiento</h3>
            </div>
            <div class="card-body">
                <%= render "form" %>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0">No está tu lugar! Agrégalo!</h3>
            </div>        
            <div class="card-body fields">
                <%= link_to "Lugar", new_place_path %>
            </div>
        </div>
    </div>    
<div>
