<%= form_with(model: partner) do |form| %>
  

  <div class="field">
    <%= form.label :state %>
    <%= form.select :state, @states, prompt: "Seleccione una opción" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
