<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
    
          <script>
            fetch('https://randomuser.me/api/?inc=gender,name')
            .then((response) => response.json())
            .then(function(data){
                const users = data.results.map(function(user){
                    const node = document.createElement('div')
                    node.className = 'card'
                    node.innerHTML = ` 
                          <div class="user-profile">
                              <img id="avatar" src="https://randomuser.me/api/portraits/med/woman/6.jpg" />
                              <div id="cols-6  fullname">${user.name.first} ${user.name.last}</div>
                              <div class="description">
                                <%# <div class="footer">
                                  <button id="btn">Next User!</button>
                                </div> %>
                              </div>
                            </div>
                          <div class="user-profile">
                              <img id="avatar" src="https://randomuser.me/api/portraits/med/woman/6.jpg" />
                              <div id="cols-6  fullname">${user.name.first} ${user.name.last}</div>
                              <div class="description">
                                <%# <div class="footer">
                                  <button id="btn">Next User!</button>
                                </div> %>
                              </div>
                            </div>`
                    return node
                })
                const cardDeck = document.querySelector('.carousel-item')
                users.forEach((user) => cardDeck.appendChild(user))
            })
            .catch((error) => console.error(error))
          </script>
    </div>

    <div class="carousel-item">
       <script>
            fetch('https://randomuser.me/api/?inc=gender,name')
            .then((response) => response.json())
            .then(function(data){
                const users = data.results.map(function(user){
                    const node = document.createElement('div')
                    node.className = 'card'
                    node.innerHTML = ` 
                          <div class="user-profile">
                              <img id="avatar" src="https://randomuser.me/api/portraits/med/woman/6.jpg" />
                              <div id="cols-6  fullname">${user.name.first} ${user.name.last}</div>
                              <div class="description">
                                <%# <div class="footer">
                                  <button id="btn">Next User!</button>
                                </div> %>
                              </div>
                            </div>
                          <div class="user-profile">
                              <img id="avatar" src="https://randomuser.me/api/portraits/med/woman/6.jpg" />
                              <div id="cols-6  fullname">${user.name.first} ${user.name.last}</div>
                              <div class="description">
                                <%# <div class="footer">
                                  <button id="btn">Next User!</button>
                                </div> %>
                              </div>
                            </div>`
                    return node
                })
                const cardDeck = document.querySelector('.carousel-item')
                users.forEach((user) => cardDeck.appendChild(user))
            })
            .catch((error) => console.error(error))
          </script>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>