<!-- Contact -->
<section id="contact" class="custom-shadow p-5 m-5">
    <div class="row container mt-5">
        <div class="col-12 col-md-6 ">

            <div class="mb-3 mx-5">
                <form method="post" action="#">
                    <div class="fields">
                        <div class="field half">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" />
                        </div>
                        <div class="field half">
                            <label for="email">Email</label>
                            <input type="text" name="email" id="email" />
                        </div>
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" rows="6"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" class="primary" /></li>
                        <li><input type="reset" value="Clear" /></li>
                    </ul>
                </form>                
            </div>
        </div>

        <div class="col-12 col-md-6 contacto">
            <div class="mb-5 mx-5"> 
                    <label class="mb-3 mt-2 pb-3"><i class="far fa-envelope"></i> Email: <a href="#"> informacion@partner.com</a></label>
                    <label class="my-3 py-5"><i class="fas fa-mobile-alt"></i> Teléfono: <a href="#"> +56 9 91234567</a></label>
                    <label class="my-3 py-3"><i class="fas fa-map-marked-alt"></i> Dirección: <a href="#"> Alguna Calle #5432, Santiago, Chile</a></label>
            </div>
        </div>
    </div>
</section>
