<div class="footer-links mt-5">
  <div class="row p-4">
    <div class="col-12 col-sm-4">
      <div>
        <a href="#">
          <h5 class="fw-bold">Acerca de</h5>
        </a>
      </div>
      <div><a href="#">Cómo funciona</a></div>
      <div><a href="#">Creación</a></div>
      <div><a href="#">Nosotros</a></div>
      <div><a href="#">Qué queremos</a></div>
      <div><a href="#">Startup</a></div>
      <div><a href="#">Innovación</a></div>
    </div>
    <div class="col-12 col-sm-4">
      <div>
        <a href="#">
          <h5 class="fw-bold">Comunidad</h5>
        </a></div>
      <div><a href="#">Grupos</a></div>
      <div><a href="#">Diversidad e inclusión</a></div>
      <div><a href="#">Agrega tu deporte</a></div>
    </div>
    <div class="col-12 col-sm-4">
      <div>
        <a href="#">
          <h5 class="fw-bold">Asistencia</h5> <%#Rol Administrador%>
        </a>
      </div>
      <div><a href="#">En qué te ayudamos</a></div>
      <div><a href="#">Confianza y seguridad</a></div>
      <div><a href="#">Denuncias</a></div>
      <div><a href="#">Problemas con la app</a></div>
      <div><a href="#">Contáctanos adm@example.com</a></div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="d-flex justify-content-center">
    <h6 class="fw-bolder">Nombre de app Copyright</h6><i class="far fa-copyright ms-1"></i>
  </div>
</footer>
