<div class="footer-links mt-5 custom-shadow">
  <div class="row p-4">
    <div class="col-12 col-sm-4 pt-5 mt-5">
      <div>
        
          <h5 class="fw-bold">Acerca de</h5>
        
      </div>
      <div>Cómo funciona</div>
      <div>Creación</div>
      <div>Nosotros</div>
      <div>Qué queremos</div>
      <div>Startup</div>
      <div>Innovación</div>
    </div>
    
    <div class="col-12 col-sm-4 pt-5 mt-5">
      <div>
        
          <h5 class="fw-bold">Asistencia</h5> <%#Rol Administrador%>
        
      </div>
      <div>En qué te ayudamos</div>
      <div>Confianza y seguridad</div>
      <div>Denuncias</div>
      <div>Problemas con la app</div>
      <div>Contáctanos adm@example.com</div>
    </div>
    <div class="col-12 col-sm-4">
      <%= image_tag 'part.png' %>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="d-flex justify-content-center">
    <h6 class="fw-bolder">Nombre de app Copyright</h6><i class="far fa-copyright ms-1"></i>
  </div>
</footer>
