<div class="content text-center">
    <!--Llamado a registrarse-->
    <header class="showcase">
      <h1>¿Aún no eres parte?</h1>
      <h3>Atrevete a participar!</h3>
        <%= link_to 'Únete', new_user_registration_path %> <i class="fas fa-chevron-right"></i>
    </header>

    
    <!--Como crear un entrenamiento-->
    <section class="cards-banner-one">
      <h2>Pasos para crear un entrenamiento!</h2>
      <div class="news-cards">
        <div>
          <i class="far fa-hand-point-up"></i>
          <h3>Primer paso</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore fugit esse corporis nesciunt minima
            doloremque modi mollitia rerum, similique optio eligendi itaque amet qui ullam vel incidunt asperiores fuga?
          </p>
          <!--<a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>-->
        </div>
        
        <div>
          <i class="far fa-hand-peace "></i>
          <h3>Segundo paso</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore fugit esse corporis nesciunt minima
            doloremque modi mollitia rerum, similique optio eligendi itaque amet qui ullam vel incidunt asperiores fuga?
          </p>
          <!--<a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>-->
        </div>
        <div>
          <i class="far fa-thumbs-up"></i>
          <h3>Tercer Paso</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore fugit esse corporis nesciunt minima
            doloremque modi mollitia rerum, similique optio eligendi itaque amet qui ullam vel incidunt asperiores fuga?
          </p>
          <!--<a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>-->
        </div>
      </div>
    </section>
    <hr>
    <!--Buscar entrenamiento-->
    <div class="cards-banner-one">
        <h2>¿No sabes cuál elegir?</h2>
        <h3>No importa! nosotros te ayudamos!</h3>
      <a href="#"><%= link_to 'Training', trainings_path %> </a>
    </div>
    <hr>

    <!--Gente que ya lo usa-->
    <!-- Card Banner 1-->
    <section class="cards-banner-one">
        <h2>Ellos ya lo han probado!</h2>
        <!-- lorem 20 -->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat maxime facilis quasi alias illo, fugiat
          cupiditate porro dolores tenetur delectus!</p>
        <a href="#" class="btn">Learn More
            <i class="fas fa-chevron-right"></i>     
        </a>
      </div>
    </section>

    <%= render 'shared/carousel' %>

     <!-- Follow -->
    <section class="social">
      <p>Follow TechNews</p>
      <div class="links">
        <a href="https://facebook.com">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://linkdin.com">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </section>
  </div>

 
   

</div>

<%= render 'shared/footer' %>