<p id="notice"><%= notice %></p>

<h1>Places</h1>



<%# <%= render 'form', place: @place %>

<div id="place_detail"></div>

<table id="places">
  <thead>
    <tr>
      <th>Country</th>
      <th>City</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
        <%= render 'place', place: place %>
    <% end %>
  </tbody>
</table>

 <%# <ul id="places">
<%= render @place %>
<%# </ul> %>




<br>

